
html {
    font-size: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    overflow: hidden;
    font-size: 1vw;
}

@font-face {
    font-family: myFirstFont;
    src: url(Fonts/DMSans-Bold.ttf);
}

* {
    font-family: myFirstFont;
}

.page-header {
    padding: 2px;
    text-align: left;
    background: #3c3f41;
    display: flex;
    flex-direction: row;
    height: 55px;
    gap: 80px;
    justify-content: flex-start;
    gap: 10px;
}

.navigation-element {
    background: #3c3f41;
    align-self: flex-start;
    padding-top: 7px;
}

@media  screen and (max-width:800px){
    .navigation-element{width: 100%;}
}

.dropbtn {
    order: 1;
    background-color: #3c3f41;
    color: white;
    padding: 5px;
    font-size: 16px;
    height: 50px;
    border: none;
    cursor: pointer;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-image: url("imgs/canva-rainbow-gradient-pink-orange-and-blue-zoom-virtual-background-VwJMC37j5jQ.jpeg");
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: #f1f1f1
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropbtn {
    background-color: #3c3f41;
}

.page-name {
    order: 5;
    color: white;
    align-self: flex-end;
    padding-top: 10px;
    height: 25px;
}

.menu {
    color: white;
}

.scroll-down-box {
    position: absolute;
    bottom: 0px;
    background-color: transparent;
}

.article-title {
    position: absolute;
    width: 50%;
    bottom: 20px;
    color: white;
} 

.author {
    position: absolute;
    bottom: 0px;
    color: white;
}

#section1 {
    height: 1000px;
    background-image: url("imgs/1865357.jpg");
}
  
#section2 {
    height: 2920px;
    background-image: url(imgs/gradient.png);
    display: flex;
}

.main{
    display: flex;
    justify-content: right;
}

.arrow-up {
    display: flex;
    flex-direction: column;
}

.text {
    color: #3c3f41 ;
    font-size: 1vw;
    text-align: justify;
    margin: 0px 200px;
}

.article-image {
    display: flex;
    justify-content: center;
}

.footer{
    height: 50px;
    background-color: #3c3c3c;
}

.footer-section{
    display: flex;
   justify-content: flex-start;
   
}

.logo {
    margin-top: 8px;
    margin-left: 8px;
}

.mail {
    margin-top: 3px;
    margin-left: 8px;
    color: white;
}

.mail-text{
    color: white;
    margin-left: 10px;
}

/*   ------------------------------     Pages        ------------------------           */

.thumbnail-grid {
	user-select: none
}

.flex {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
    column-gap: 50px;
    row-gap: 50px;
}

.flex-item {
	flex: 1 0 auto
}

.input-container {
display: flex;
justify-content: flex-start;
}

.pages-body {
background-image: url(imgs/gradient.png);
}

.text-wrapper {
    width: 100%;
    position: relative;
    margin-top: -15%;
    margin-left: 10px;
}

.text-wrapper h6{
    text-align: left;
    color: #ffffff;
    font-size: 1vw;
}

/*     --------------------               Articles               ---------------*/

.article-body {
    background-image: url(imgs/gradient.png);
    height: 2800px;
}

.article3-body {
    height: 1800px;
    background-image: url(imgs/gradient.png);
}